<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Form</title>

    <style>
        .forgot {
            margin-left: 160px;   /* thoda sa right */
            font-size: 14px;
        }
    </style>
</head>
<body>

    <h2>login form</h2>

    <form >

        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br>

        <a href="forgetpass"  class="forgot">Forgot Password?</a><br><br>

        

    </form>

</body>
</html>
