<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

    <h3>Reset Password</h3>

    <form >

        <label>Enter OTP:</label><br>
        <input type="text" name="otp" required><br><br>

        <label>New Password:</label><br>
        <input type="password" name="new_password" required><br><br>

        <label>Confirm New Password:</label><br>
        <input type="password" name="confirm_password" required><br><br>

        {% comment %} <a href="resetpass"  class="forgot"> Password reset</a><br><br> {% endcomment %}
        <a href=""  class="forgot"> Password reset</a><br><br> 


    </form>

</body>
</html>
